header {
    background-color: rgb(40, 96, 210);
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

main {
    width: 1200px;
    margin: auto;
}

h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
}

.naklonene {
    font-style: italic;
}

.cerveneTucne {
    color: #f00;
    font-weight: 800;
}

table {
    font-family: Arial, Helvetica, sans-serif;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
}

thead {
    background-color: #a00;
    color: white;
}

/* Navigace*/
.topnav {
    overflow: hidden;
    background-color: #0b08be;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #0694cc;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}